@font-face {
    font-family: 'Bethanie Snake';
    src: url(Bethanie\ Snake_PersonalUseOnly.ttf);
}

h1, h2 {
    text-align: center;
    font-family: 'Bethanie Snake';
}

h1 {
    font-size: 6vh;
}

h2 {
    font-size: 4vh;
}

p#score {
    display: inline;
    font-family: monospace;
}

html, body {
    background-color: rgb(190, 190, 190);
}

#app {
    margin: 0  auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div#game-container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    background-color: green;
    max-width: 600px;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
    font-size: 0px;
    margin: 0 auto;
}

.pixel {
    height: 100%;
    border: 1px solid black;
}

.field {
    background-color: white;
    opacity: 0.5;
}

.player {
    background-color: darkgreen;
    opacity: 1;
}

.food {
    border-radius: 50%;
    background-color: orange;
    opacity: 1;
}

.touch-controller {
    margin: 10px auto;
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    visibility: hidden;
}

.touch-controller button {
    background-color: red;
    border-radius: 30%;
    padding: 35px;
    margin: 0 auto;
}

@media screen and (max-width: 500px) {
    div#game-container {
        width: 90vw;
        height: 40vh;
    }
    .pixel {
        height: 100%;
        border: 1px solid black;
        font-size: 0px;
    }
    .touch-controller {
        visibility: visible;
    }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    div#game-container {
        width: 70vw;
        height: 40vh;
    }
    .pixel {
        height: 100%;
        border: 1px solid black;
        font-size: 0px;
    }
    .touch-controller {
        visibility: visible;
    }
}