div#game-container{
    display: block;
    background-color: green;
    width: 800px;
    height: 800px;
    border: 2px solid black;
    font-size: 0px;
    margin: 0 auto;
}

.pixel {
    display: inline-block;
    width: 38px;
    height: 38px;
    border: 1px solid black;
}

.field {
    background-color: white;
    opacity: 0.5;
}

.player {
    background-color: darkgreen;
    opacity: 1;
}

.food {
    border-radius: 50%;
    background-color: orange;
    opacity: 1;
}