@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-image: linear-gradient(#FAF3EB, #CCBE9F);
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3em;
    text-align: center;
    max-width: 90vw;
}

.scores {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Press Start 2P', cursive;
    font-weight: 600;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 1px;
    padding: 1px;
    border-radius: 4px;
    width: 50vh;
    height: 50vh;
    box-shadow: 4px 4px 12px #20383E;
    background-color: #1E1E1E;
}

.field {
    background-color: #63ACBE;
}

.player {
    background-color: #601A4A;
}

.player-head {
    background-color: #330e27;
}

.food {
    background-color: #EE442F;
}

.touch-controller {
    margin: 0 auto;
    max-width: 200px;
    max-height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    visibility: hidden;
}

.touch-controller div {
    margin: 0 auto;
    padding: 35px;
}

#ArrowUp {
    background-image: url('../images/d-pads/up.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

#ArrowDown {
    background-image: url('../images/d-pads/down.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

#ArrowLeft {
    background-image: url('../images/d-pads/left.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

#ArrowRight {
    background-image: url('../images/d-pads/right.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

#ArrowUp:active {
    transform: scale(1.3);
}

#ArrowDown:active {
    transform: scale(1.3);
}

#ArrowLeft:active {
    transform: scale(1.3);
}

#ArrowRight:active {
    transform: scale(1.3);
}

@media screen and (max-width: 500px) {
    .touch-controller {
        margin: 2vh auto;
        visibility: visible;
    }


    #game-container {
        width: 80vw;
        height: 80vw;
        margin-bottom: 5vh;
    }

    h1 {
        font-size: 1.3em;
    }

    p, span {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    #game-container {
        width: 50vh;
        height: 50vh;
    }

    .touch-controller {
        margin: 2vh auto;
        visibility: visible;
    }

    h1 {
        font-size: 2em;
    }

    p, span {
        font-size: 1rem;
    }

}

@media screen and (max-height: 750px) {


    .touch-controller {
        visibility: visible;
    }

    .touch-controller div {
        padding: 25px;
    }
}